body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.header {
  background-color: #541554;
  height: 80px;
  list-style: none;
  display: flex;
  padding: 0px 50px;
}
.header .nav {
  height: 80px;
  width: 100vw;
  background-color: transparent;
  align-content: center;
}
.header .nav div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}
.header .nav div .div-logo {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 125px;
}
.header .nav div .nav-ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 60%;
  justify-content: space-between;
  font-weight: strong;
  font-size: 15px;
}
.header .nav div .nav-ul ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  flex: 1;
  font-weight: strong;
  font-size: 15px;
  align-content: center;
  width: 60%;
  justify-content: space-between;
}
.header .nav div .nav-ul ul li {
  width: auto;
  margin: 5px;
}
.header .nav div .nav-ul ul li:hover {
  font-size: 25px;
  text-decoration: underline;
}
.header .nav div .nav-right {
  align-items: center;
  text-align: center;
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-between;
  color: white;
  font-weight: strong;
  font-size: 15px;
}
.header .nav div .nav-right .sign {
  color: white;
  height: 40%;
  align-items: center;
  padding: 0, 5px 0px;
  display: flex;
}
.header .nav div .nav-right .contact {
  text-transform: uppercase;
  border: 1px solid white;
  border-color: white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  height: 30px;
  width: 35%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12px;
  font-weight: bold;
}
.header .nav div .nav-right .start {
  height: 50%;
  width: 25%;
  text-transform: uppercase;
  border: 2px solid white;
  border-color: white;
  border-radius: 4px;
  color: #541554;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

main {
  width: 100%;
  height: 4214px;
}
main .sec-top-gog {
  background-color: #541554;
  padding: 0px 50px;
  height: 500px;
  display: flex;
  justify-items: start;
  align-items: center;
}
main .sec-top-gog .sec-txt {
  display: block;
  width: 50%;
  height: 90%;
}
main .sec-top-gog .sec-txt .h1 {
  height: 25%;
  display: inline-block;
  margin: 0px;
  font-weight: bold;
}
main .sec-top-gog .sec-vid {
  display: flex;
  height: 68%;
  width: 50%;
  animation-iteration-count: 3;
}
main .sec-top-gog .sec-vidtop-vid {
  width: 700px;
}

.m-txt {
  font-size: 20px;
}
.m-txt-bg {
  font-size: 38px;
  font-weight: bold;
}
.m-txt-sm {
  font-size: 12px;
}
.m-txt-o {
  color: #ECB22E;
}
.m-txt-w {
  color: white;
}
.m-txt-b {
  color: black;
}
.m-txt-blue {
  color: #1279B9;
}
.m-txt-align {
  align-content: center;
  justify-content: center;
}

.p {
  height: 150px;
  margin-top: 10px;
}
.p-text {
  width: 90%;
  height: 85px;
  align-content: center;
}

.a-w {
  color: white;
}
.a-w-m {
  border-radius: 5px;
  padding: 10px 20px; /* Padding alrededor del enlace */
  border: 2px solid white;
}
.a-p {
  color: #541554;
}
.a-p-m {
  display: flex;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #541554;
  background-color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.a-p-fb {
  display: flex;
  width: 55%;
  border-radius: 5px;
  padding: 15px 20%; /* Padding alrededor del enlace */
  border: 2px solid #541554;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente al centro */
}
.a-p-gog {
  display: flex;
  width: 55%;
  border-radius: 5px;
  padding: 15px 20%;
  border: 2px solid #541554;
  background-color: #4285F4;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  position: relative;
}

.g-log {
  position: relative;
  height: 30px;
  justify-content: left;
}

.h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.div {
  justify-content: center;
  align-items: center;
}
.div-wid {
  width: 100%;
  margin: 0px auto;
}
.div-ul {
  display: flex;
  justify-items: center;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.div-ul-li {
  display: list-item;
}

.main-col-beige-sm {
  background-color: #F4EDE4;
  height: 175px;
}
.main-col-beige-med {
  background-color: #F4EDE4;
  height: 400px;
  display: flex;
}
.main-col-whi {
  background-color: white;
}

.marg-top {
  margin-top: 50px;
}

.pad {
  padding: 0px 50px;
}
.pad-top {
  padding-top: 20px;
}
.pad-top-less {
  padding-top: 0px;
}
.pad-bot {
  padding-bottom: 20px;
}
.pad-lft {
  padding-left: 20px;
}
.pad-rgt {
  padding-right: 20px;
}

.pad80 {
  padding: 80px;
}
.pad80-top {
  padding-top: 80px;
}
.pad80-bot {
  padding-bottom: 80px;
}
.pad80-lft {
  padding-left: 80px;
}
.pad80-rgt {
  padding-right: 80px;
}

.wid {
  width: 100%;
}
.wid-60 {
  width: 60%;
}

.sec-vid-rad {
  width: 100%;
  display: flex;
  height: auto;
}

.flex {
  display: flex;
}
.flex-row-re {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */