$purple: #541554;
$black: black;
$body-color: #F4EDE4;
$white: white;
$orange: #ECB22E;
$pad-r-l: 0px 50px;

main{
    width: 100%;
    height: 4214px;

    .sec-top-gog{
        background-color: #{$purple};
        // width: 50%;
        padding: #{$pad-r-l};
        height: 500px;
        display: flex;
        justify-items: start;
        align-items: center;
        
        .sec-txt{
            display: block;
            width: 50%;
            height: 90%;
        
            .h1{
                height: 25%;
                display: inline-block;
                margin: 0px;
                font-weight: bold;
            }
        }
        
        .sec-vid{
            display: flex;
            height: 68%;  
            width: 50%;
            animation-iteration-count: 3;          
            
            &top-vid{
                width: 700px;
            }
        }
    }
}
.m-txt{
    font-size: 20px;
    &-bg{
        font-size: 38px;
        font-weight: bold;
    }
    &-supbg{
        font-size: 38px;
        font-weight: bold;
    }
    &-sm{
        font-size: 12px;
    }
    &-o{
        color: #{$orange};
    }
    &-w{
        color: #{$white};
    }
    &-b{
        color: #{$black};
    }
    &-blue{
        color: #1279B9;
    }
    &-purp{
        color: #{$purple};
    }
    &-align{
        align-content: center;
        justify-content: center;
    }
}
.p{
    // width:90%;
    height: 150px;
    margin-top: 10px;
    
    &-text{
        width: 90%;
        height: 85px;
        align-content: center;
    }
}
.a{
    &-w{
        color: #{$white};
        &-m {
            border-radius: 5px;
            padding: 10px 20px; /* Padding alrededor del enlace */
            border: 2px solid #{$white}; 
        }
    }
    &-p{
        color: #{$purple};
        &-m {
            display: flex;
            border-radius: 5px;
            padding: 10px 20px; 
            border: 2px solid #{$purple};
            background-color: #{$white};
            font-weight: bold;
            justify-content: center; 
            align-items: center; 
        }
        &-fb {
            display: flex;
            width: 55%;
            border-radius: 5px;
            padding: 15px 20%; /* Padding alrededor del enlace */
            border: 2px solid #{$purple};
            background-color: #{$white};
            font-weight: bold;
            text-transform: uppercase;
            justify-content: center; /* Alinea el contenido horizontalmente al centro */
            align-items: center; /* Alinea el contenido verticalmente al centro */
        }
        &-gog {
            display: flex;
            width: 55%;
            border-radius: 5px;
            padding: 15px 20%; 
            border: 2px solid #{$purple};
            background-color: #4285F4;
            font-weight: bold;
            text-transform: uppercase;
            justify-content: center; 
            align-items: center; 
            position: relative;
        }
    }
}
.g-log{
    position: relative;
    height: 30px;
    justify-content: left;
}
.h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    justify-content: center; 
    align-items: center; 
    margin: 30px 0px;
}
.div{
    justify-content: center; 
    align-items: center; 
 
    &-wid{
    width: 100%;
    margin: 0px auto;
    }

    &-ul{  
        display: flex;
        justify-items: center;
        max-width: 1010px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;

        &-li{
            display: list-item;
        }
    }
}
.main-col{
    &-beige-sm{
        background-color: #{$body-color};
        height: 175px;
    }
    &-beige-med{
        background-color: #{$body-color};
        height: 400px;
        display: flex;
    }
    &-whi{
        background-color: #{$white};
    }
}
.marg{
    &-top{
        margin-top: 50px;
    }
}
.pad{
    padding: #{$pad-r-l};
    &-top{
        padding-top: 20px;
        &-less{
            padding-top: 0px;
        }
    }
    &-bot{
        padding-bottom: 20px; 
    }
    &-lft{
        padding-left: 20px;
    }
    &-rgt{
        padding-right: 20px;
    }
}
.pad80{
    padding: 80px;
    &-top{
        padding-top: 80px;
    }
    &-bot{
        padding-bottom: 80px;
    }
    &-lft{
        padding-left: 80px;
    }
    &-rgt{
        padding-right: 80px;
    }
}
.wid{
    width: 100%;
    &-60{
        width: 60%;
    }
}
.sec-vid-rad{
    width: 100%;
    display: flex;
    height: auto;
}

.flex{
    display: flex;
    &-row-re{
        flex-direction: row-reverse;
    }
    &-col{
        flex-direction: column;
    }
}

.bussiness{
    text-transform: uppercase;
    border: 1px solid #{$white};
    border-radius: 4px;
    background-color: #{$purple};
    color: #{$white};
    padding: 20px;
    height: 50%;
    width: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    font-weight: bold;

}
.sales{
    height: 50%;
    width: 30%;
    text-transform: uppercase;
    border: 1px solid #{$purple};
    border-color: #{$white};
    border-radius: 4px;
    color: #{$purple};
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}
.posi{
    align-items: center;
    justify-content: center;
    align-content: center;
}